{% extends "./layout/base.html" %} {% block content %}
<h1>Signup</h1>
<!-- <form method="post">
  {% csrf_token %} {% for field in registration_form %}
  <p>
    <div class="fieldWrapper">{{ field.label_tag }} {{ field }}</div>
    {% for errors in field.errors %}
    <p style="color: red">{{ errors }}</p>
    {% endfor %}
  </p>
  {}
  {% endfor %}
  <input type="submit" value="Signup" />
</form> -->
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Signup" />
</form>

{% endblock content %}
