{% extends './layout/base.html' %} {% block content %}
<h2 class="mt-5">Restaurant Detail</h2>
<ul class="mt-5">
  <h2>{{ restaurant.name }}</h2>
  <h3>{{ restaurant.description }}</h3>
  <h4>
    Address: <span class="text-capitalize"> {{ restaurant.address }}</span>
  </h4>
  <ul class="mt-4">
    <h4>Menu</h4>
    {% for item in restaurant.item_set.all %}
    <li class="text-danger">
      {{ item.name }} - ${{ item.price }}
      <a
        class="text-success m-lg-2"
        href="{% url 'users:add_to_cart' item.id %}"
        >Add to Cart</a
      >
    </li>
    {% endfor %}
  </ul>
</ul>
{% endblock %}
