{% extends "./layout/base.html" %} {% block content %}

<div class="my-5">
  <h2>Your Orders</h2>

  {% for order in orders %}
  <a class="text-info" href="{% url 'order:order_details' order.id %}">
    <span>ORDER: {{order.id}}</span>
    <span>TOTAL PRICE: {{order.total_price}}</span>
  </a>
  <span class="m-lg-3">{{order.created_at}}</span>
  <span class="fw-bold">{{order.status}}</span>
  {% endfor %} {% if orders|length > 0%}
  <br />
  <a href="{% url 'order:clear_orders' %}" class="btn btn-danger mt-3"
    >CLEAR ORDER HISTORY</a
  >
  {% else %}
  <p class="text-secondary">No orders in our History</p>
  {% endif %}
</div>

{% endblock content %}
