{% extends "./layout/base.html" %} {% block content %}

<div class="mt-5">
  <h2>Cart Items</h2>

  {% for Item in cart_items %}
  <li class="flex mt-3">
    {{ Item.item.name }} - {{ Item.item.description }}
    <span class="m-lg-4">Quantity - {{Item.quantity}}</span>
    <span class="m-lg-4">Price - {{Item.price}} </span>
    <p>{{Item.session_key}}</p>
    <p>{{Item.user}}</p>
  </li>
  {% endfor %}

  <a href="{% url 'order:place_order' %}" class="btn btn-dark mt-5"
    >Place Order</a
  >
</div>

{% endblock content %}
