{% extends "./layout/base.html" %} {% block content %}

<div class="mt-5">
  <h1>HOME PAGE DOORDASH APP</h1>
  {% if user.is_authenticated %}
  <h1>Hi {{ user.username }}</h1>
  {% else %}
  <h1>Hi Guest</h1>
  <a class="btn btn-primary" href="{% url 'users:login' %}">Login</a>
  <a class="btn btn-primary" href="{% url 'users:signup' %}">Signup</a>
  {% endif %}

  <h2 class="mt-5">Featured Restaurants</h2>
  <ul>
    {% for restaurant in featured_restaurants %}
    <li>
      <a
        class="nav-link"
        href="{% url 'restaurant:restaurant_detail' restaurant.id %}"
      >
        {{ restaurant.name }} - {{ restaurant.description }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <h2 class="mt-5">Featured Items</h2>
  <ul>
    {% for Item in featured_Items %}
    <li class="flex">
      <a class="nav-link" href="">
        {{ Item.name }} - {{ Item.description }} - Rs.{{ Item.price }}
      </a>
      <a class="text-success" href="{% url 'users:add_to_cart' Item.id %}"
        >Add to Cart</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
